version: "3.7"
services:
    decopath:
        container_name: decopath
        image: decopath:latest
        command:
            - /bin/bash
            - -c
            - |
                python3.7 manage.py makemigrations viewer
                python3.7 manage.py migrate
                python3.7 manage.py load_db
                : 'CHANGE THE ADMIN EMAIL ID'
                python3.7 manage.py init_user --superuser "user@domain.com"
                python3.7 manage.py collectstatic --no-input
                python3.7 manage.py runserver 0.0.0.0:8000
        volumes:
            - ${PWD}/local.sqlite3:/opt/decopath/db.sqlite3
        ports:
            - 8000:8000

    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:management
        environment:
            RABBITMQ_DEFAULT_USER: user
            RABBITMQ_DEFAULT_PASS: password
            RABBITMQ_DEFAULT_VHOST: vhost
        ports:
            - 5672:5672
            - 8080:15672

    worker:
        container_name: celery-worker
        image: decopath:latest
        command: bash -c "python3.7 -m celery -A DecoPath worker -l info"
        working_dir: /opt/decopath
        depends_on:
            - rabbitmq

    postfix:
        container_name: decopath-postfix
        image: boky/postfix:latest
        environment:
            ALLOWED_SENDER_DOMAINS: localhost domain.com # CHANGE THE DOMAIN NAME
        ports:
            - "587:587"