{% load static %}

<meta charset="utf-8">
<title>DecoPath</title>
<meta name="DecoPath"
      content="DecoPath: A Web Application for Decoding Pathway Enrichment Analysis.">
<meta name="keywords" content="Bioinformatics, Pathway Analysis, Enrichment Analysis">
<meta name="author" content="Sarah Mubeen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link type="image/x-icon" href='{% static "icons/favicon.ico" %}' rel="shortcut icon"/>
<link rel="stylesheet"
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
