{% extends "viewer/extentions/base.html" %}

{% block content %}
<div class="container mx-auto">
    <br><br>
    <h1 class="text-center">Privacy Policy</h1>
    <br><br>
    <p>DecoPath is a software of the Fraunhofer Institute for Algorithms and Scientific Computing SCAI.</p>
    <p>The following pertains to the use of this website. As the data controller, we process your personal data collected via our website and store them for the period necessary to achieve the specified purposes and to comply with statutory requirements. The following text informs you of the data we collect, the way we process them and to which rights you will be entitled to in this regard.</p>
    <p>Pursuant to Article 4(1) General Data Protection Regulation (GDPR), personal data are all data referring to an identified or identifiable natural person.</p>
    <p><a href="#1e">1. Scope of this Document</a></p>
    <p><a href="#2e">2. Name and Contact Information of the Person Responsible for Data Processing (Controller) and of the corporate Data Protection Officer</a><br> </p>
    <p><a href="#3e">3. Processing of Personal Data and Purposes of Data Processing</a></p>
    <p><a href="#4e">4. Cookies</a></p>
    <p><a href="#5e">5. Privacy policies of other websites</a><br> </p>
    <p><a href="#6e">6. Your Rights as Data Subject</a><br> </p>
    <p><a href="#7e">7. Data Security</a></p>
    <p><a href="#8e">8. Timeliness and Amendments to this Data Security Information</a></p>
    <p><a id="1e"></a><br> &nbsp;</p>
    <h4>1. &nbsp;&nbsp;&nbsp; Scope of this Document</h4>
    <p>&nbsp;</p>
    <p>This data protection information shall apply to the software website located at “<a href="
{% url "home" %}">https://decopath.scai.fraunhofer.de</a>” and all services we offer in context with this
        software as web services or mobile app providing we refer to this data protection information.<a id="2e"></a></p>
    <h4>&nbsp;</h4>
    <h4>2. &nbsp;&nbsp;&nbsp; Name and Contact Information of the Person Responsible for Data Processing (Controller) and of the Corporate Data Protection Officer<br> </h4>
    <ol start="2">
     <p>&nbsp;</p>
    </ol>
    <p>Controller as defined in Article 4(7) GDPR:</p>
    <p>Fraunhofer-Gesellschaft<br> zur Förderung der angewandten Forschung e.V. [Fraunhofer Society for the Advancement of Applied Research]</p>
    <p>Hansastraße 27 c,<br> 80686 München [Munich, Bavaria, Germany]</p>
    <p>for the Fraunhofer Institute for Algorithms and Scientific Computing SCAI, Schloss Birlinghoven, D-53754 Sankt Augustin</p>
    <p>(hereinafter referred to as <b>'Fraunhofer SCAI’)</b></p>
    <p>E-Mail: <a href="mailto:info@scai.fraunhofer.de">info@scai.fraunhofer.de</a><br> Telephone: + 49 2241 14-2500<br> Fax: + 49 2241 14-2460</p>
    <p>You can reach the Data Protection Officer at Fraunhofer at the above address c/o Data Protection Officer or at <a href="mailto:
    datenschutz@zv.fraunhofer.de">datenschutz@zv.fraunhofer.de</a>.</p>
    <p>Please feel free to contact our Data Protection Officer directly at any time with your questions concerning the
        Data Protection Law or your rights as data subject.<a id="3e"></a></p>
    <p>&nbsp;</p>
    <h4>3.&nbsp;&nbsp;&nbsp; Processing of Personal Data and Purposes of Data Processing<br> </h4>
    <p>&nbsp;</p>
    <p><b>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; During Your Website Visit</b></p>
    <p>You can access our website without having to disclose the details of your identity. The browser on your terminal device automatically sends information to the server of our website (e.g. browser type and version, date and time of access), for the sole reason as to allow a connection with the website. This also includes the IP address of your requesting terminal device. It is temporarily stored in a so-called log file and automatically deleted after 4 weeks.</p>
    <p>The IP address is processed for technical and administrative purposes of connection set-up and stability, in order to guarantee the security and functioning of our website and to be able to track any illegal attacks on the website, if required.</p>
    <p>The legal basis for the processing of the IP address is point (f) of the first sentence of Article 6(1) GDPR. Our legitimate interest ensues from the said security interest and the necessity of the unobstructed provision of our website.</p>
    <p>We cannot draw any direct conclusions about your identity from the processing of the IP address or other information in the log file.</p>
    <p>Furthermore, we place cookies during the visit of our website and use analytical services. For more information about this, please see Sections 5 and 6 of this Data Protection Information.</p>
    <p>&nbsp;</p>
    <p><b>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To facilitate account creation and logon process</b></p>
    <p>If you have expressly given your consent pursuant to point (a) of the first sentence of Article 6(1) GDPR, we use
        your email address to facilitate account creation, the logon process, and contacting you for updates about the job process.
        Alternatively, you may also unsubscribe by email to <a href="mailto:info@scai.fraunhofer.de">info@scai.fraunhofer.de</a>.</p>
    <p>After the deletion of your account, your email address will be deleted immediately from our server.</p>
    <p>&nbsp;</p>
    <p><b>c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To carry out experimental analysis</b></p>
    <p>If you have expressly given your consent pursuant to point (a) of the first sentence of Article 6(1) GDPR, we use
        your experimental data to carry out experimental analysis.
        Alternatively, you may also cancel the job by accessing your account.</p>
    <p>After the cancellation of the job, your experimental data and the results will be deleted immediately from our
        server.</p><a id="4e"></a></p>
    <p>&nbsp;</p>
    <h4>4.&nbsp;&nbsp;&nbsp; Cookies</h4>
    <h4>&nbsp;</h4>
    <p>We use server-side cookies. Cookies are small files which are automatically created by your browser and stored in your device (laptop, tablet, smartphone or similar device) once you visit our website. Cookies do not harm your computer, and they do not contain viruses, Trojans or other malware.</p>
    <p>Cookies contain information pertaining to the specific device which accessed our website. However, this does not provide us with direct knowledge of your identity.</p>
    <p>One reason for us to use cookies is making the use of our website more convenient for you. We use session cookies to recognize that you have already visited certain pages of our website.</p>
    <p>We also use temporary cookies to optimize the user-friendliness of our website. Your device stores these cookies temporarily for a specific time. The next time you visit our website, our server will recognize your device as prior visitor and remember your settings and preferences. You will not have to enter these parameters again.</p>
    <p>We furthermore use cookies to gather data for our website statistics. This helps us evaluate and optimize our web offering (see Section 6). These cookies allow us to automatically recognize repeat visits from your device. They will be deleted automatically after a specific time.</p>
    <p>The data obtained with the help of cookies help us pursue our legitimate interests and serve the legitimate interests of third parties pursuant to point (f) of the first sentence of Article 6(1) GPDR.</p>
    <p>Most browsers accept cookies automatically. However, you are able to configure your browser in such a way that the application does not store cookies on your computer or that an alert appears before storing new cookies. However, the complete deactivation of cookies may prevent you from using all of the functions on our website.<a id="6e"></a></p>
    <p>&nbsp;</p><a id="5e"></a><p></p>
    <h4>5. &nbsp;&nbsp; Privacy policies of other websites<br> </h4>
    <h4>&nbsp;</h4>
    <p>The website contains links to other websites. Our privacy policy applies only to our website, so if you click on
        a link to another website, you should read their privacy policy.</p>
    <p>&nbsp;</p><a id="6e"></a><p></p>
    <h4>6. &nbsp;&nbsp; Your Rights as a Data Subject<br> </h4>
    <h4>&nbsp;</h4>
    <p>You have the following rights:</p>
    <ul>
     <li><span class="bulletpointlist">Pursuant to Article 7(3) GDPR, you have the right to withdraw at any time any consent you may have given to us before. The consequence of this is that we may no longer continue the respective activity.</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 15 GDPR, you have the right to obtain information on your personal data which we have processed. In particular, you have the right to information on the following: Purposes of data processing, the category of the personal data, the categories of recipients to whom your data has been or is disclosed, the planned storage periods of data, the existence of a right to the correction, deletion, restriction of processing and objection, the right to appeal, &nbsp;the right to know the origin of your data in the event that we did not collect these data The right to meaningful and detailed information on the existence of automated decision-making including profiling and, if applicable, relevant information on the details thereof;</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 16 GDPR, you have the right to obtain without undue delay the rectification of inaccurate personal data and/or the completion of incomplete personal data stored with us;</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 17 GDPR, you have the right to the erasure of your personal data unless the erasure interferes with the execution of the right to free expression of opinions and to information, with the compliance with legal obligations, is necessary in the public interest or for establishing, exercising or defending legal claims;</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 18 GDPR, you have the right to restriction of processing of your personal data if you contest or challenge the accuracy of these data, the processing of the data is unlawful but you oppose the erasure of these data and we no longer need the data while you still need the data to establish, exercise or defend legal claims or you have raised an objection against the data processing pursuant to Article 21 GDPR;</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 20 GDPR, you have the right to receive the personal data concerning you in a structured, commonly used and machine-readable format or to demand to transmit those data to another data processing controller and</span></li>
     <li><span class="bulletpointlist">Pursuant to Article 77 GDPR, you have the right to lodge a complaint with a supervisory authority. Generally, you may find such authority at your place of habitual residence, your workplace or our company domicile.</span></li>
    </ul>
    <p>&nbsp;</p>
    <p><b>Information about your right to object pursuant to Article 21 GDPR</b></p>
    <p>You have the right to object at any time, on grounds relating to your particular situation, to the processing of your personal data, pursuant to point (e) of Article 6(1) GDPR (data processing for the performance of a task carried out in the public interest) and of point (f) of Article 6(1) GDPR (data processing on the basis of legitimate interests). This shall also apply to profiling as prescribed by Article 4(4) GDPR, which is based on this provision.</p>
    <p>Once you file an objection, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for processing which override your interests, rights and freedoms, or unless the processing serves the establishment, exercise or defense of legal claims.</p>
    <p>To the extent that your objection addresses the processing of data for direct advertising, we will stop the processing immediately. In this case, citing a specific situation is not required. This shall also apply to profiling in as far as it relates to such direct advertising.</p>
    <p>If you would like to assert your right to object, an email to <u><a href="mailto:datenschutz@zv.fraunhofer
    .de">datenschutz@zv.fraunhofer.de </a></u>will suffice.<a id="7e"></a></p>
    <p>&nbsp;</p>
    <h4>7. &nbsp;&nbsp;&nbsp; Data Security</h4>
    <p>&nbsp;</p>
    <p>We transmit all your personal data using the widely used and secure TLS (Transport Layer Security) encryption standard. The TLS protocol is a proven and secure standard that is also used in online banking transactions. You will recognize a secure TLS connection by the "s" following the http (https://...) in your browser URL or by the lock symbol in the lower section of your browser.</p>
    <p>Moreover, we use suitable technical and organizational safety procedures to protect your data against accidental
        or willful manipulation, partial or complete loss, destruction or against the unauthorized access by third
        parties. We constantly improve these security measures as the technology advances.<a id="8e"></a></p>
    <p>&nbsp;</p>
    <h4>8. &nbsp;&nbsp;&nbsp; Timeliness and Amendments to this Data Protection Information<br> </h4>
    <h4>&nbsp;</h4>
    <p>This data protection information as amended on September 2020 is currently applicable.</p>
    <p>Due to improvements of our website and website offers or by virtue of amended statutory or administrative standards, it may become necessary to amend this data protection information. You may find the latest data protection information by clicking the link on this website</p>
    <p><a href="{% url "data_protection" %}">https://decopath.scai.fraunhofer.de/data_protection.html</a></p>
    <p>You may read or print this updated and amended version at any time.</p>
</div>

{% endblock %}