#circles-viz svg {
    border: 1px solid black;
    box-sizing: border-box !important;
    padding-left: 40px;
    max-width: 100%;
}

.node--hover circle {
    stroke: #000;
    stroke-width: 1.2px;
}

.circle {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

div.gsea-max-legend {
    background: #578092;
}

div.gsea-min-legend {
    background: #c44652;
}

div.gsea-no-mapping {
    background: #dadada;
}

div.gsea-insignificant-legend {
    background: #b4b4b4;
}

div.ora-max-legend {
    background: #ae272d;
}

div.ora-min-legend {
    background: #eed5c9;
}

div {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
}

.customButton {
    color: #fff !important;
    background-color: #0062cc;
    border-color: #fff;
}

.customButton:hover {
    color: #fff !important;
    background-color: #034891;
    border-color: #fff;
}

:root {
    --transition-1: all 0.3s ease-in-out;
    --transition-2: all 0.2s ease-in-out;
}

.no_result {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    transition: all 0.1s ease-in-out;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    outline: none;
}

.mode {
    margin-top: 20px;
}

.toggle {
    display: flex;
    border: 1px solid black;
    height: 35px;
    width: 120px;
    border-radius: 50px;
    justify-content: flex-start;
    align-content: center;
    transition: var(--transition-2);
}

.toggler {
    display: grid;
    cursor: pointer;
    background-color: lightgrey;
    color: #fff;
    height: 25px;
    width: 60px;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
    align-content: center;
    align-self: flex-start;
    transition: var(--transition-2);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
}

.toggler:hover {
    width: 65px;
    background-color: lightgrey;
}

.toggler::selection {
    color: #fff;
}

.strict {
    display: inline;
}

.loose {
    display: inline;
}

.autoComplete_wrapper {
    position: relative;
    display: block;
    width: 100% !important;
    min-width: 500px;
}

#autoComplete {
    height: 3rem;
    width: 500px;
    margin: 0;
    padding: 0 2rem 0 3.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-overflow: ellipsis;
    color: black;
    outline: none;
    border-radius: 10rem;
    border: 0;
    border: 0.2rem solid black;
    background-image: url(/static/img/search.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.8rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
}

#autoComplete::placeholder {
    color: black;
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:hover::placeholder {
    color: darkslategrey;
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::placeholder {
    padding: 0.1rem 0.6rem;
    font-size: 0.95rem;
    color: darkslategrey;
}

#autoComplete:focus::selection {
    background-color: darkslategrey;
}

#autoComplete::selection {
    background-color: darkslategrey;
}

#autoComplete:hover {
    color: black;
    transition: all 0.3s ease;
    -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus {
    color: black;
    border: 0.06rem solid black;
}

#autoComplete_list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 0.5rem;
    border-radius: 0.6rem;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
    border: 1px solid rgba(33, 33, 33, 0.07);
    z-index: 1000;
    outline: none;
}

.autoComplete_result {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    transition: all 0.1s ease-in-out;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_result::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#ffffff, 0);
}

.autoComplete_result:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.autoComplete_highlighted {
    color: black;
    font-weight: bold;
}

.autoComplete_highlighted::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#ffffff, 0);
}

.autoComplete_selected {
    cursor: pointer;
    background-color: grey;
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper {
        width: 320px;
    }

    #autoComplete {
        width: 18rem;
        background-size: 1.6rem;
        background-position: left 1.1rem top 0.75rem;
    }

    #autoComplete_list {
        margin: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #autoComplete {
        border-width: 1px;
    }
}

@-moz-document url-prefix() {
    #autoComplete {
        background-size: 1.2rem;
        background-origin: border-box;
        border-width: 1px;
        background-position: left 1.1rem top 0.8rem;
    }
}

